/*************************************************
    GENERAL STYLES
 *************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
  ;
   
}

ul, li{
    list-style-type: none; 
}

a{
    text-decoration: none;
}

button{
    width: auto;
    height: auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.img{
    width: 100%;
}

.letter-size-menu{ 
    font-size: 90%; 
}

main{
   overflow: auto;
   height: calc(100vh - 70px);

}

hr{
    width: 70%;
}


/************************************************
    SITE SECTIONS
 ************************************************/
 .containerMain{
    display: flex;
    width: 100%;
   
   

    
 }


/****Column menu***/
.logo{
    width: 60%;
}


.letter-size{ 
    font-size: 0.7em;
    font-weight: bold;
}

.containerColumn{
    width: 20%;
    overflow: auto;
    
    
    
}
.column-left{
    width: 20%;
    height: calc(660px -70px);
    position: fixed;  
   
}



.menu{
   display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: flex-end;
   
}

.playlist{
    
}

/****High button***/
.container{
    width: 100%;
    height: 10%;
    
}



.button-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;  
    flex-wrap: wrap;
    height: 10%;
    padding: 16px;

}
/***horizontal menu ***/

.horizontal-menu{
    padding-top: 1rem;
    height: 100px;
    width: 100%;
}
.menu-horizontal{
    display: flex;
    justify-content: space-around;
    padding: 0 13rem;
}

/****contenuto center**/

/*recenty played*/
.containerContenuto{
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   text-align: center;
}

.content-img{
    width: 100%;
}

.card{
    width: 16%; 
}
.img-content{
    position: relative;
    display: inline-block;
   
   
    
}

.fa-play-circle{
    position: absolute;
    top: 5em;
    right: 5em;
    cursor: pointer;
   
}

/*created by*/
.containerCreatedBy{
    display: flex;
    width: 100%;  
    gap: 0.5rem;
    text-align: center;
   
 
}

.content-img-created{
    width: 100%;
    border-radius: 50%;
}


/*footer*/

.contenutoFooter{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

     
}

.content-imgFooter{
    width: 5%;
    padding: 0.5rem;
    
}

.content{
    display: flex;
    flex-direction: column;
    width: 5%;
    
}

.content-icons{ 
    display: flex;
    flex-direction: row;
    width: 20%;
    padding-right: 0.5rem;
}

.fa-heart{
    padding-right: 0.5rem;
}

.centro{
    width: 40%;
    
    


}
.icone-centro{
    display: flex;
    justify-content: center;
  }

.bar-menu{
    display: flex;
    align-items: center;
    
}

.letter-sizeFooter{ 
    font-size: 70%; 
    padding: 0.5rem;
}

.icona-right{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
.bar{
    width: 5%;

}

.progress-menu {
    width: 100%;
    height: 3px;
    background-color: #6B6D71;
    position: relative;
    
  }

  
.progress-bar {
    width: 100%;
    height: 3px;
    background-color: #6B6D71;

  }
  
  .progress {
    width: 20%;
    height: 100%;
    background-color: white;
  }





/************************************************
    UTILITIES
 ************************************************/

/*color*/
.white {color: white;}

.silver {color: #737579;}

.doveGray {color: #6B6D71;}

.border-silver{ border-color: #737579;}

.b-black {background-color: #000000;}

.b-eurieBlack {background-color:#090B12;}

.b-outer-space {background-color: #141922;}

.b-light-gray {background-color: #282828;}


/*padding*/

.p16{padding: 1rem;}

.p8{padding: 0.5rem 0;}

.p16-0{padding: 1rem 0;}

/*margin*/
.margin-t5{ margin-top: -4em;}
.margin-t2{ margin-top: 2em;}

/*flex*/
.flex{
    display: flex;
}
/************************************************
  RESPONSIVE
 ************************************************/

